<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/aciddecemberarchives.styles.css" asp-append-version="true" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Spray+Paint&display=swap"
        rel="stylesheet">
    <!-- To look good on social media -->
    <!-- Standard Meta -->
    <link rel="canonical" href="https://acid.datapop.se" />
    <link rel="alternate" hreflang="x-default" href="https://acid.datapop.se" />
    <meta charset="utf-8" />
    <meta name="title" content='@ViewData["Title"]' />
    <meta name="description" content='@ViewData["Description"]' />
    <!-- Dublin Core basic info -->
    <meta name="dcterms.Title" content='@ViewData["Title"]' />
    <meta name="dcterms.Description" content='@ViewData["Description"]' />
    <!-- Facebook -->
    <meta property="og:title" content='@ViewData["Title"]' />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content='@ViewData["Description"]' />
    <meta property="og:type" content="webpage" />
    <meta property="og:url" content="https://acid.datapop.se" />
    <meta property="og:site_name" content='@ViewData["Title"]' />
    <meta property="og:image" content='@ViewData["ImageLink"]' />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content='@ViewData["Title"]' />
    <meta name="twitter:description" content='@ViewData["Description"]' />
    <meta name="twitter:image" content='@ViewData["ImageLink"]' />
    <meta name="twitter:creator" content="Acid December">


</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow mb-3">
            <div class="container-sm">
                <!-- make the row below only navigate to acid.datapop.se -->
                <a class="navbar-brand" href="https://acid.datapop.se">😊</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://acid.datapop.se">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2024">2024</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2023">2023</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2022">2022</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2021">2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2020">2020</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2018">2018</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2019">2019</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2015">2015</a>
                        </li>
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" href="/2014">2014</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2013">2013</a>
                        </li>
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" href="/2012">2012</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/2011">2011</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/about">About</a>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="max-width: 1300px;">
        <main role="main" class="pb-3">
            @RenderBody()


            <div id="app" style="height: 300px; align-items: center;">
                <!-- Webamp will attempt to center itself within this div -->
            </div>

@if (ViewData["InitialTracks"] != null)
{
            <script src="/js/webamp.bundle.min.js"></script>
            <script>
                var initialTracks = @Html.Raw(ViewData["InitialTracks"] ?? "[]");

                const Webamp = window.Webamp;
                const webamp = new Webamp({

                    initialSkin: {
                        url: "https://storage.googleapis.com/acid-december2012/2024/Donkey_Kong_Handheld.wsz",
                    },
                    initialTracks: initialTracks
                });

                // Returns a promise indicating when it's done loading.
                webamp.renderWhenReady(document.getElementById("app"));
            </script>
            }
    </div>


    });

    </script>
    </div>
    </main>
    </div>

    <footer class="text-muted">
        <div class="container">
            @* <img src="~/img/_57b26574-11c6-4b6a-84d7-de0789a3c33a.jpeg" class="logo" /> *@

            &copy; 2025 - Acid December - CC BY-NC-SA
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>