@page "/{urlyear:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Acid december";
    ViewData["Description"] = "Acid for the month of December and beyond!";
    ViewData["ImageLink"] =
    "https://storage.googleapis.com/acid-december2012/2023/_57b26574-11c6-4b6a-84d7-de0789a3c33a.jpeg";
    var year = (string)RouteData.Values["urlyear"] ?? "2024";
}

<div class="text-center container">
    <h1>ACID DECEMBER OVERDRIVE</h1>

    <div class="container">

        <div class="row">


            @if (Model.SongOfTheDay != null)
            {
                <div class="col-6">

                </div>
                <div class="col-12">

                    @* <h2>Track of the day</h2>
                <h1>@Model.SongOfTheDay.Id</h1>
                <a href="/2023/@Model.SongOfTheDay.Id">

                <img class="border-dark"
                src="https://storage.googleapis.com/acid-december2012/2023/@Model.SongOfTheDay.ImageLink" />
                <h2>@Model.SongOfTheDay.Title</h2>
                <h3>@Model.SongOfTheDay.Artist</h3>
                </a>
                <audio controls>
                <source src="https://storage.googleapis.com/acid-december2012/2023/@Model.SongOfTheDay.Tune">
                </audio>
                *@

                </div>
            }
            <div class="col-12">
                <br>
                
    

                @if (Model.IsRootPage)
                {
               
                }
                <p>Get the acid in your Fediverse-feed, follow: <h3><a
                        href="https://v.basspistol.org/a/acid_december/videos"
                        rel="me">@@acid_december@v.basspistol.org</a></h3></p>
                <br><br><br>
            </div>

            @foreach (var song in Model?.Songs)
            {
              
                
                   
                        
                <div class="col-6">
                    <a href="/@Model.Year/@song.Id">
                        <h2>@song.Id</h2>
                        <p>
                        @if (song.ImageLink != null)  {    <img class="float-start  border-dark"
                                src="https://storage.googleapis.com/acid-december2012/@Model.Year/@song.ImageLink" /> }
                            <h2></h2>
                            <h3>@song.Artist</h3>
                            <h3>@song.Title</h3>
                          
                        </p>
                    </a>
                </div>
            }
        </div>
    </div>
