@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Acid december 2023";
    ViewData["Description"] = "Acid for the month of December and beyond!";
    ViewData["ImageLink"] =
    "https://storage.googleapis.com/acid-december2012/2023/_57b26574-11c6-4b6a-84d7-de0789a3c33a.jpeg";

}

<div class="text-center container">
    <h1>ACID DECEMBER</h1>

    <div class="container">

        <div class="row">

            @if (Model.SongOfTheDay != null)
            {
                <div class="col-6">
                    <h2>Track of the day</h2>
                </div>
                <div class="col-6">

                    <h1>@Model.SongOfTheDay?.Id</h1>
                    <a href="/2023/@Model.SongOfTheDay?.Id">

                        <img class="float-start  border-dark"
                            src="https://storage.googleapis.com/acid-december2012/2023/@Model.SongOfTheDay?.ImageLink" />
                        <h2>@Model.SongOfTheDay.Title</h2>
                        <h3>@Model.SongOfTheDay.Artist</h3>
                    </a>
                    <audio controls>
                        <source src="https://storage.googleapis.com/acid-december2012/2023/@Model.SongOfTheDay?.Tune">
                    </audio>
                  

                </div>  }
                <div class="col-12">
                    <br>
                    <p>It's so dark! What else can we do but light our candles and start up the silver boxes in obscure half
                        forgotten rituals.</p>
                    <p>Please email acid@datapop.se Attach your audio in the mail with a picture if you want. Download links
                        are cool if the files are big. Don't forget to write your name and add a link to your web.</p>
                </div>

                @foreach (var song in Model?.Songs)
                {

                    <div class="col-6">
                        <a href="/2023/@song.Id">
                            <h1>@song.Id</h1>
                            <p>
                                <img class="float-start  border-dark"
                                    src="https://storage.googleapis.com/acid-december2012/2023/@song.ImageLink" />
                                <h2>@song.Title</h2>
                                <h3>@song.Artist</h3>

                            </p>
                        </a>
                    </div>



                }
            </div>
        </div>
