@page "/rss.xml"
@model RssModel;
@{
  Layout = null;
  Response.ContentType = "application/rss+xml";
}
<?xml version="1.0" encoding="UTF-8" ?>
@* <rss version="2.0">
  <channel>
    <title>Acid December 2023</title>
    <link>https://acid.datapop.se</link>
    <description>Acid for the month of December and beyond!</description>
    <language>en-us</language>
    <lastBuildDate>@DateTime.UtcNow.ToString("R")</lastBuildDate>
    <pubDate>@DateTime.UtcNow.ToString("R")</pubDate>
    <ttl>60</ttl>
    <image>
      <url>https://acid.datapop.se/images/acid-logo.png</url>
    </image>
    @foreach (var song in Model.Songs)
    {

      @Model.xmlitem

      <title>@song.Title</title>
    <link>https://acid.datapop.se/2023/@song.Id</link>
      <guid>https://acid.datapop.se/2023/@song.Id</guid>
      <pubDate>@song.Publishdate</pubDate>
      <description>@song.Title by @song.Artist on Acid December</description> 

      @Model.xmlitemend

    }

  </channel>
</rss> *@