@page
@model SubmitModel
@{
    ViewData["Title"] = "Submit a New Song";
}
<div class="container">
    <h2>Tunes</h2>
    <p>Here you can submit a new song to the database. You can also view all the songs that are currently in the database.</p>
    <script>
        function show2024() {
            var table = document.getElementById("songsTable");
            var rows = table.getElementsByTagName("tr");
            for (var i = 1; i < rows.length; i++) {
                var currentRow = table.rows[i];
                var publishDate = currentRow.getElementsByTagName("td")[1].innerText;
                if (publishDate.match(/(2024-(11|12)|2025-01)/)) {
                    currentRow.style.display = "";
                } else {
                    currentRow.style.display = "none";
                }
            }
        }

        function show2023() {
            var table = document.getElementById("songsTable");
            var rows = table.getElementsByTagName("tr");
            for (var i = 1; i < rows.length; i++) {
                var currentRow = table.rows[i];
                var publishDate = currentRow.getElementsByTagName("td")[1].innerText;
                //- 2023 means from november 2023 to february 2024 use a date range
                if (publishDate.match(/(2023-(11|12)|2024-01)/)) {
                    currentRow.style.display = "";
                } else {
                    currentRow.style.display = "none";
                }
            }
        }
    </script>
    <p>Only Show posts from <a href="javascript:show2024()">2024</a> | <a href="javascript:show2023()">2023</a></p>
    

    @if (ViewData["SaveSuccess"] != null)
    {
        <div class="alert alert-success">
            @ViewData["SaveSuccess"]
        </div>

    }

    <!-- a table to list all Songs  -->

    <table id="songsTable" class="table">
        <thead>
            <tr>
                <th onclick="sortTable(0)">
                    Id
                </th>
                <th onclick="sortTable(1)">
                    PublishDate
                </th>
                <th onclick="sortTable(2)">
                    Title
                </th>
                <th onclick="sortTable(3)">
                    Artist
                </th>
                <th>
                    ImageLink
                </th>
                <th>
                    ArtistLink
                </th>
                <th>
                    Tune
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model.Songs)
            {
                <tr>
                    <td>
                        @song.Id
                    </td>
                    <td>
                        @song.Publishdate
                    </td>
                    <td>
                        @song.Title
                    </td>
                    <td>
                        @song.Artist
                    </td>
                    <td>
                        @song.ImageLink
                    </td>
                    <td>
                        @song.Artistlink
                    </td>
                    <td>
                        @song.Tune
                    </td>
                    <td>
                        @song.Html
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <h2>Submit a New Song</h2>
    <form method="post" asp-page-handler="SaveSong">
        <div class="form-group">
            <h3>Id-number</h3>
            <label asp-for="SongDetails.Id"></label>
            <input asp-for="SongDetails.Id" type="number" class="form-control" />
            <span asp-validation-for="SongDetails.Id" class="text-danger"></span>
        </div>
        <div class="form-group" ->
            <h3>Publishdate</h3>
            <label asp-for="SongDetails.PublishDate"></label>
            <input asp-for="SongDetails.PublishDate" type="date" class="form-control" />
            <span asp-validation-for="SongDetails.PublishDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <h3>Title</h3>
            <label asp-for="SongDetails.Title"></label>
            <input asp-for="SongDetails.Title" class="form-control" />
            <span asp-validation-for="SongDetails.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <h3>Artist</h3>
            <label asp-for="SongDetails.Artist"></label>
            <input asp-for="SongDetails.Artist" class="form-control" />
            <span asp-validation-for="SongDetails.Artist" class="text-danger"></span>
        </div>

        <!-- Drop down list with bucketobjects for the image -->
        <div class="form-group">
            <h3>Image</h3>
            <label asp-for="SongDetails.ImageLink"></label>
            <select asp-for="SongDetails.ImageLink" class="form-control">
                <option value="">Select an image</option>
                @foreach (var obj in Model.BucketObjects)
                {
                    <option value="@obj.Name">@obj.Name</option>
                }
            </select>
            <span asp-validation-for="SongDetails.ImageLink" class="text-danger"></span>

        </div>
        <div class="form-group">
            <h3>Artist Link</h3>
            <label asp-for="SongDetails.ArtistLink"></label>
            <input asp-for="SongDetails.ArtistLink" class="form-control" />
            <span asp-validation-for="SongDetails.ArtistLink" class="text-danger"></span>
        </div>
           <div class="form-group">
            <h3>Html</h3>
            <label asp-for="SongDetails.Html"></label>
            <input asp-for="SongDetails.Html" class="form-control" />
            <span asp-validation-for="SongDetails.Html" class="text-danger"></span>


        </div>

        <!-- dropdown list with bucketobjects for the tune field-->
        <div class="form-group">
            <h3>Tune</h3>
            <label asp-for="SongDetails.Tune"></label>
            <select asp-for="SongDetails.Tune" class="form-control">
                <option value="">Select a tune</option>
                @foreach (var obj in Model.BucketObjects)
                {
                    @* <option value="@obj.MediaLink">@obj.Name</option> *@
                    <option value="@obj.Name">@obj.Name</option>
                }
            </select>
            <span asp-validation-for="SongDetails.Tune" class="text-danger"></span>
        

            <button type="submit" class="btn btn-primary">Submit Song Details</button>
    </form>
    <script>
        function sortTable(colIndex) {
            const table = document.getElementById("songsTable");
            let switching = true, dir = "asc", rows, shouldSwitch, i, x, y;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < rows.length - 1; i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[colIndex];
                    y = rows[i + 1].getElementsByTagName("TD")[colIndex];
                    if ((dir === "asc" && x.innerText > y.innerText) ||
                        (dir === "desc" && x.innerText < y.innerText)) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                } else if (dir === "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    </script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

    }

</div>